body {
  background-color: #303030;
  background-color: #000;
  /* #directory-results, */
}
body .navbar {
  background-color: #212121;
}
body .navbar a {
  color: #ebebeb !important;
}
body .navbar .navbar-default .navbar-brand {
  color: #ebebeb;
}
body .navbar-default .navbar-nav > .active > a,
body .navbar-default .navbar-nav > .active > a:focus,
body .navbar-default .navbar-nav > .active > a:hover {
  background-color: #424242;
}
body .footer {
  background-color: #212121;
}
body .container .jumbotron,
body .container-fluid .jumbotron {
  background-color: #424242;
  color: #ebebeb;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media screen and (min-width: 768px) {
  body .container .jumbotron,
  body .container-fluid .jumbotron {
    padding-left: 10px;
    padding-right: 10px;
  }
}
body textarea.form-control {
  height: 450px;
}
body #existing-movie,
body #existing-movie-label {
  display: none;
}
body .movies .container {
  padding-left: 5px;
  padding-right: 5px;
}
body .movies .movies-container {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  padding-top: 15px;
}
body .movies .movies-container .row {
  width: 100%;
}
body .movies .movies-container .col-xs-12:first-of-type,
body .movies .movies-container col-lg-10:first-of-type {
  margin-top: -15px;
}
body .movies .movies-container .col-xs-3 {
  display: flex;
  /* padding-top: 15px; */
}
body .movies .ui-grid-header-canvas .ui-grid-header-cell-primary-focus {
  padding-left: 6px;
}
body .movies .myMoviesGrid {
  color: #000;
  height: 720px;
}
body .movies .ui-grid-viewport {
  width: 100% !important;
  height: 600px;
}
body .movies #totals,
body .movies .ui-grid-header-cell-row,
body .movies .ui-grid-top-panel {
  background-color: #212121;
  color: #ebebeb;
            /* input[type="text"] {
				background-color: #ebebeb;
			} */
}
body .movies #totals .ui-grid-filter-container,
body .movies .ui-grid-header-cell-row .ui-grid-filter-container,
body .movies .ui-grid-top-panel .ui-grid-filter-container {
  padding: 4px;
}
body .movies .ui-grid-canvas .ui-grid-cell,
body .movies .ui-grid-canvas .ui-grid-cell .ui-grid-vertical-bar,
body .movies .ui-grid-canvas .ui-grid-row {
  color: #ebebeb;
  height: 33px;
}
body .movies .ui-grid-canvas .ui-grid-row {
  background-color: #555555;
  border-top: 1px solid #252525;
}
body .movies .ui-grid-canvas .ui-grid-row:nth-child(2n) .ui-grid-cell {
  background-color: #444444;
}
body .movies .ui-grid-canvas .ui-grid-row:nth-child(odd) .ui-grid-cell {
  background-color: transparent;
}
body .movies .ui-grid-canvas .ui-grid-cell-contents {
  padding: 5px;
}
body .movies .ui-grid-canvas .ui-grid-coluiGrid-0004,
body .movies .ui-grid-canvas .ui-grid-coluiGrid-0006,
body .movies .ui-grid-canvas .ui-grid-coluiGrid-0007,
body .movies .ui-grid-canvas .ui-grid-coluiGrid-0008 {
  padding-left: 3px;
  text-align: left;
}
body .movies .ui-grid-canvas .cell-controls,
body .movies .ui-grid-canvas .ui-grid-coluiGrid-0009 {
  padding-top: 1px;
  padding-left: 1px;
}
body .movies .ui-grid-canvas .cell-controls .ui-grid-cell-contents,
body .movies .ui-grid-canvas .ui-grid-coluiGrid-0009 .ui-grid-cell-contents {
  padding-top: 1px;
}
body .movies .ui-grid-canvas .cell-controls .btn,
body .movies .ui-grid-canvas .ui-grid-coluiGrid-0009 .btn {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  margin-top: -3px;
}
body .movies .ui-grid-canvas .cell-controls .btn svg,
body .movies .ui-grid-canvas .ui-grid-coluiGrid-0009 .btn svg {
  margin-right: 5px;
}
body .movies .ui-grid-canvas .cell-controls .btn-warning,
body .movies .ui-grid-canvas .ui-grid-coluiGrid-0009 .btn-warning {
  padding-left: 8px;
  padding-right: 8px;
}
body .movies .ui-grid-canvas .ui-grid-coluiGrid-0009 {
  display: contents;
  min-width: 193px;
}
body .movies .ui-grid-canvas .ui-grid-coluiGrid-0009 input[type="checkbox"] {
  margin: 9px 0 0 3px;
}
body .movies .ui-grid-grid-footer {
  color: #ebebeb !important;
  padding-left: 10px;
  border-top: 1px solid #d4d4d4;
  text-align: right;
}
body .movies .ui-grid-grid-footer .ngLabel {
  margin-left: 10px;
}
body .movies .ui-grid-grid-footer #footer-btns {
  display: none;
  position: absolute;
  right: 10px;
}
body .movies .ui-grid-grid-footer #footer-btns .btn {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}
body .movies .ui-grid-grid-footer #footer-btns .btn:first-of-type {
  margin-right: 5px;
}
body .movies .recent-terms {
  border: 1px solid #efefef;
  overflow-y: scroll;
  text-align: left;
  width: 100%;
  height: 690px;
}
body .movies .recent-terms .recent-terms-hdr {
  font-size: 14px;
  /* line-height: 1.42857; */
  font-weight: bold;
  background-color: #212121;
  padding: 5px 5px 8px;
}
body .movies .recent-terms .recent-terms-hdr h4 {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.42857;
}
body .movies .recent-terms .recent-terms-hdr .btn {
  /* margin-left: 5px; */
  padding-top: 0;
  padding-bottom: 0;
  /* line-height: 1.42857; */
  float: right;
}
body .movies .recent-terms p {
  font-size: 12px;
}
body .movies .recent-terms ul {
  font-size: 14px;
  padding-left: 0;
}
body .movies .recent-terms ul li {
  background-color: #676767;
  padding: 4px;
  border-bottom: 1px solid #000;
}
body .movies .recent-terms ul li:hover {
  cursor: pointer;
}
body .movies .total-size-area {
  position: absolute;
  bottom: 5px;
  width: 90%;
  height: 30%;
}
body .movies .total-size-area .total-size-results {
  background-color: tan;
  border: 1px solid #ccc;
  height: 40px;
}
body .movies hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid #000;
}
body #directory-results input[type="text"],
body #mode input[type="text"],
body .movies input[type="text"] {
  background-color: #ebebeb;
  color: #333;
  padding-left: 4px;
}
body .container.results-container {
  padding-left: 10px;
}
body #directory-results {
  display: none;
  padding-bottom: 15px;
  /* } */
}
body #directory-results .col-xs-10:first-of-type {
  padding-left: 10px;
}
body #directory-results #totals {
  position: absolute;
  background-color: #212121;
  padding: 7px 10px;
  width: 95%;
  /* border-bottom: 1px solid #d4d4d4; */
  text-align: right;
  left: 10px;
}
body #directory-results #totals span {
  display: inline-block;
  margin-left: 10px;
}
body #directory-results #totals span:first-of-type {
  margin-left: 0;
}
body #directory-results #totals span .num-span {
  font-weight: bold;
}
body #directory-results #table-wrap {
  margin-top: 36px;
  overflow-y: scroll;
  max-height: 720px;
}
body #directory-results #table-wrap table {
  /* margin-left: 10px; */
}
body #directory-results #table-wrap table tr {
  padding-top: 7px;
  border-top: 1px solid #252525;
  border-left: 1px solid #ccc;
  height: 33px;
}
body #directory-results #table-wrap table tr:nth-child(odd) {
  background-color: #555555;
}
body #directory-results #table-wrap table tr td {
  padding: 0 5px 0 9px;
  border-right: 1px solid #ccc;
}
body #directory-results #table-wrap table tr td:first-of-type {
  padding-left: 0;
  width: 65px;
}
body #directory-results #table-wrap table tr td .fa-angle-double-up {
  color: greenyellow;
  margin-left: 5px;
}
body #directory-results #table-wrap table tr td.new-not-dup {
  font-weight: bold;
  background-color: darkgreen;
  border-top: 1px solid #212121;
  border-bottom: 1px solid #212121;
  text-align: center;
}
body #directory-results #table-wrap table tr td.dup-not-new {
  font-weight: bold;
  background-color: darkred;
  border-top: 1px solid #212121;
  border-bottom: 1px solid #212121;
}
body #directory-results #table-wrap table tr td button svg {
  margin-right: 5px;
}
body #directory-results #table-wrap table tr td:nth-of-type(2) {
  padding: 0 5px 0 6px;
  /* width: 450px; */
  width: 525px;
}
body #directory-results #table-wrap table tr td:nth-of-type(3) {
  width: 110px;
}
body #directory-results #table-wrap table tr td:nth-of-type(4) {
  /* width: 100px; */
  width: 86px;
}
body #directory-results #table-wrap table tr td:nth-of-type(5) {
  width: 95px;
}
body #directory-results #table-wrap table tr td:nth-of-type(6) {
  width: 75px;
}
body #directory-results #table-wrap table tr td:nth-of-type(7) {
  padding-top: 2px;
  padding-left: 7px;
  width: 79px;
}
body #directory-results #table-wrap table tr td:nth-of-type(7) .btn-warning {
  padding: 2px 8px;
}
body #directory-results #table-wrap table tr:first-of-type {
  border-top: 1px solid #ccc;
}
body #directory-results #table-wrap table tr:first-of-type .dup-not-new,
body #directory-results #table-wrap table tr:first-of-type .new-not-dup {
  border-top: 1px solid #ccc;
}
body #directory-results #table-wrap table tr:last-of-type {
  border-bottom: 1px solid #ccc;
}
body #directory-results #table-wrap table tr:last-of-type .dup-not-new,
body #directory-results #table-wrap table tr:last-of-type .new-not-dup {
  border-bottom: 1px solid #ccc;
}
body #directory-results #table-wrap table .tsize {
  display: none;
}
body #mode {
  display: block;
  padding-bottom: 15px;
}
body #import-records h3 {
  display: block;
}
body #import-records .col-sm-6 h3:first-of-type {
  margin-top: 10px;
}
body #import-records .col-sm-6 ~ .col-sm-6 h3:first-of-type {
  margin-top: 20px;
  margin-bottom: 10px;
}
body #import-records #loading-spinner {
  display: none;
  margin-top: 5%;
}
body #import-records .form-group.btn-group {
  padding-left: 0;
}
body #import-records .form-group.btn-group label {
  border-radius: 5px;
}
body #import-records .btn-warning {
  background-color: #ec971f;
  color: #ebebeb;
  border-color: #d58512;
}
body #import-records .btn-warning:hover {
  background-color: #f0ad4e;
  color: #ebebeb;
  border-color: #eea236;
}
body #import-records .input-wrap .record-name {
  width: 80%;
}
body #import-records .input-wrap .duplicate-text {
  width: 70%;
}
body #import-records .input-wrap .single-title .input-group.input-text-single {
  display: block;
}
body #import-records .input-wrap .single-title .input-group.input-text-single input[type="text"] {
  margin-left: 5px;
  width: 80px;
}
body #import-records .input-wrap .single-title .input-group.input-text-single input[type="text"]:first-of-type {
  margin-left: 0;
  width: 265px;
}
body #import-records .input-wrap .single-title .input-group.input-text-single button {
  margin-left: 5px;
}
body #import-records .input-wrap .input-dir .input-group-btn,
body #import-records .input-wrap .input-file .input-group-btn {
  display: inline-block;
  width: 80px;
}
body #import-records .input-wrap .input-dir .input-group-btn .button-choose,
body #import-records .input-wrap .input-file .input-group-btn .button-choose {
  width: 80px;
}
body #import-records .input-wrap .multi-from-dir .input-text,
body #import-records .input-wrap .multi-from-file .input-text {
  display: none;
}
body #import-records .input-wrap .collapse.input-text,
body #import-records .input-wrap .collapse.input-text-single {
  display: block;
  width: 100%;
}
body #import-records .input-wrap .input-group.input-dir,
body #import-records .input-wrap .input-group.input-file {
  display: block;
  width: 100%;
}
body #import-records .input-wrap .input-group.input-dir .record-name,
body #import-records .input-wrap .input-group.input-dir .record-name-dir,
body #import-records .input-wrap .input-group.input-file .record-name,
body #import-records .input-wrap .input-group.input-file .record-name-dir {
  width: 85%;
}
body #import-records .input-wrap .input-group.input-dir .input-group-btn,
body #import-records .input-wrap .input-group.input-file .input-group-btn {
  float: left;
}
body #import-records .input-wrap .input-group.input-dir .input-dir-textfield,
body #import-records .input-wrap .input-group.input-file .input-dir-textfield {
  width: 60%;
}
body #import-records .input-wrap .input-group.input-dir .input-file-textfield,
body #import-records .input-wrap .input-group.input-file .input-file-textfield {
  width: 50%;
}
body #import-records .input-wrap .input-group.input-dir input[type="file"].hidden-input {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
}
body #import-records .input-wrap .collapse {
  display: none;
}
body #import-records .input-wrap .collapse.multi-from-dir {
  display: block;
}
body #import-records #duplicates {
  overflow-y: scroll;
  height: 260px;
}
body #import-records #duplicates p {
  margin: 0 auto 5px;
}
body .modal-dialog {
  width: calc(60vw - 400px);
}
body .modal-body {
  overflow-y: auto;
  max-height: calc(100vh - 200px);
}
body .modal-body .input-group {
  display: flex;
  margin-bottom: 2px;
  width: 65%;
}
body .modal-body .input-group .input-group-btn {
  display: inline-flex;
}
body .modal-body .input-group .input-group-btn .btn-primary {
  margin-right: 5px;
}

.config #db-setting hr,
.config #tbl-setting hr {
  margin-top: 0;
  margin-bottom: 20px;
  border-top: 1px solid #000;
}
.config #db-setting h2,
.config #tbl-setting h2 {
  margin-bottom: 5px;
}
.config #db-setting .btn-wrapper,
.config #tbl-setting .btn-wrapper {
  display: inline-block;
}
.config #db-setting #btn-test-db,
.config #tbl-setting #btn-test-db {
  margin-right: 10px;
}
.config #db-setting .btn-active,
.config #tbl-setting .btn-active {
  background-color: green;
  color: white;
}
.config #active-tbl .btn-group > .btn {
  margin-right: 20px;
  border-radius: 4px;
}
.config #active-tbl .btn-group > .btn:last-child {
  margin-right: 0;
}

#utilities-controller .phpinfo-inner {
  overflow-y: scroll;
  height: 80vh;
}

/*# sourceMappingURL=moviedb.css.map */
