body {
	background-color: #303030;
	background-color: #000;

	.navbar {
		background-color: #212121;

		a {
			color: #ebebeb !important;
		}

		.navbar-default .navbar-brand {
			color: #ebebeb;
		}
	}

	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:focus,
	.navbar-default .navbar-nav > .active > a:hover {
		background-color: #424242;
	}

	.footer {
		background-color: #212121;
	}

	.container .jumbotron {
		background-color: #424242;
		color: #ebebeb;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	@media screen and (min-width: 768px) {
		.container .jumbotron,
		.container-fluid .jumbotron {
			padding-left: 10px;
			padding-right: 10px;
			min-height: 1100px;
		}
	}

	textarea.form-control {
		height: 450px;
	}

	#existing-movie,
	#existing-movie-label {
		display: none;
	}
	/* #directory-results, */
	.movies {
		.container {
			padding-left: 5px;
			padding-right: 5px;
		}

		.movies-container {
			display: flex;
			display: -webkit-flex;
			flex-wrap: wrap;

			.row {
				width: 100%;
			}

			.col-xs-9 {
				//display: flex;
			}

			.col-xs-3 {
				display: flex;
				padding-top: 15px;
			}
		}

		.ui-grid-header-canvas {
			.ui-grid-header-cell-primary-focus {
				padding-left: 6px;
			}
		}

		.myMoviesGrid {
			color: #000;
			height: 720px;
			// margin-bottom: 20px;
		}

		.ui-grid-viewport {
			width: 100% !important;
			height: 600px; //prob should be 450
		}

		#totals,
		.ui-grid-header-cell-row,
		.ui-grid-top-panel {
			background-color: #212121;
			color: #ebebeb;
			/* input[type="text"] {
				background-color: #ebebeb;
			} */
			.ui-grid-filter-container {
				padding: 4px;
			}
		}

		.ui-grid-canvas {
			.ui-grid-cell,
			.ui-grid-cell .ui-grid-vertical-bar,
			.ui-grid-row {
				color: #ebebeb;
				height: 33px;
			}

			.ui-grid-row {
				background-color: #555555;
				border-top: 1px solid #252525;

				&:nth-child(2n) .ui-grid-cell {
					background-color: #444444;
				}

				&:nth-child(odd) .ui-grid-cell {
					background-color: transparent;
				}
			}

			.ui-grid-cell-contents {
				padding: 5px;
			}

			.ui-grid-coluiGrid-0004,
			.ui-grid-coluiGrid-0006,
			.ui-grid-coluiGrid-0007,
			.ui-grid-coluiGrid-0008 {
				padding-left: 3px;
				text-align: left;
			}

			.cell-controls,
			.ui-grid-coluiGrid-0009 {
				padding-top: 1px;
				padding-left: 1px;

				.ui-grid-cell-contents {
					padding-top: 1px;
				}

				.btn {
					padding-top: 2px !important;
					padding-bottom: 2px !important;
					margin-top: -3px;

					svg {
						margin-right: 5px;
					}
				}

				.btn-warning {
					padding-left: 8px;
					padding-right: 8px;
				}
			}

			.ui-grid-coluiGrid-0009 {
				display: contents;
				min-width: 193px;
				//min-width: initial;
				input[type="checkbox"] {
					margin: 9px 0 0 3px;
				}
			}
		}

		.ui-grid-grid-footer {
			color: #ebebeb !important;
			padding-left: 10px;
			//padding-top: 5px;
			border-top: 1px solid #d4d4d4;
			text-align: right;

			.ngLabel {
				margin-left: 10px;
			}

			#footer-btns {
				display: none;
				position: absolute;
				right: 10px;

				.btn {
					padding-top: 2px !important;
					padding-bottom: 2px !important;

					&:first-of-type {
						margin-right: 5px;
					}
				}
			}
		}

		.recent-terms {
			border: 1px solid #efefef;
			overflow-y: scroll;
			text-align: left;
			width: 80%;
			max-height: 650px;

			.recent-terms-hdr {
				font-size: 14px;
				/* line-height: 1.42857; */
				font-weight: bold;
				background-color: #212121;
				padding: 5px 5px 8px;

				h4 {
					display: inline-block;
					font-size: 14px;
					font-weight: bold;
					margin-top: 0;
					margin-bottom: 0;
					line-height: 1.42857;
				}

				.btn {
					/* margin-left: 5px; */
					padding-top: 0;
					padding-bottom: 0;
					/* line-height: 1.42857; */
					float: right;
				}
			}

			p {
				font-size: 12px;
			}

			ul {
				font-size: 14px;
				padding-left: 5px;
			}
		}

		.total-size-area {
			position: absolute;
			bottom: 5px;
			width: 90%;
			height: 30%;

			.total-size-area-hdr {}

			.total-size-results {
				background-color: tan;
				border: 1px solid #ccc;
				height: 40px;
			}

			.draggable-area-target {}
		}

		hr {
			margin-top: 5px;
			margin-bottom: 5px;
			border: 0;
			border-top: 1px solid #000;
		}
	}

	#directory-results,
	#mode,
	.movies {
		input[type="text"] {
			background-color: #ebebeb;
			color: #333;
			padding-left: 4px;
		}
	}

	#directory-results {
		display: none;
		padding-bottom: 15px;

		.col-xs-9 {
			#totals {
				position: absolute;
				background-color: #212121;
				padding: 7px 10px;
				margin-left: 10px;
				width: 987px;
				/* border-bottom: 1px solid #d4d4d4; */
				text-align: right;

				span {
					display: inline-block;
					margin-left: 10px;

					&:first-of-type {
						margin-left: 0;
					}

					.num-span {
						font-weight: bold;
					}
				}
			}
			//}
			#table-wrap {
				margin-top: 36px;
				overflow-y: scroll;
				max-height: 720px;

				table {
					margin-left: 10px;

					tr {
						padding-top: 7px;
						border-left: 1px solid #ccc;
						border-top: 1px solid #252525;
						height: 33px;

						&:nth-child(odd) {
							background-color: #555555;
						}

						td {
							padding: 0 5px 0 9px;
							border-right: 1px solid #ccc;

							&:first-of-type {
								padding-left: 0;
								width: 65px;
							}

							.fa-angle-double-up {
								margin-left: 5px;
								color: greenyellow;
							}

							&.new-not-dup {
								font-weight: bold;
								background-color: darkgreen;
								border-bottom: 1px solid #212121;
								border-top: 1px solid #212121;
								text-align: center;
							}

							&.dup-not-new {
								font-weight: bold;
								background-color: darkred;
								border-bottom: 1px solid #212121;
								border-top: 1px solid #212121;
							}

							button {
								svg {
									margin-right: 5px;
								}
							}
						}

						td:nth-of-type(2) {
							width: 450px;
							padding: 0 5px 0 6px;
						}

						td:nth-of-type(3) {
							width: 110px;
							//width: 160px;
						}

						td:nth-of-type(4) {
							width: 90px;
						}

						td:nth-of-type(5) {
							width: 95px;
						}

						td:nth-of-type(6) {
							width: 75px;
						}

						td:nth-of-type(7) {
							width: 79px;

							.btn-warning {
								padding: 2px 8px;
							}
						}

						&:first-of-type {
							border-top: 1px solid #ccc;

							.dup-not-new,
							.new-not-dup {
								border-top: 1px solid #ccc;
							}
						}

						&:last-of-type {
							border-bottom: 1px solid #ccc;

							.dup-not-new,
							.new-not-dup {
								border-bottom: 1px solid #ccc;
							}
						}
					}

					.tsize {
						display: none;
					}
				}
			}
		}
	}

	#mode {
		display: block;
		padding-bottom: 15px;
	}

	#import-records {
		h3 {
			display: block;
		}

		.col-sm-6 {
			h3:first-of-type {
				margin-top: 10px;
			}

			&~.col-sm-6 {
				h3:first-of-type {
					margin-top: 20px;
					margin-bottom: 10px;
				}
			}
		}

		#loading-spinner {
			display: none;
			margin-top: 5%;
		}

		.form-group.btn-group {
			padding-left: 0;

			label {
				border-radius: 5px;
				// margin-right: 15px;
			}
		}

		.btn-warning {
			background-color: #ec971f;
			color: #ebebeb;
			border-color: #d58512;
		}

		.btn-warning:hover {
			background-color: #f0ad4e;
			color: #ebebeb;
			border-color: #eea236;
		}

		.input-wrap {
			.record-name {
				width: 80%;
			}

			.duplicate-text {
				width: 70%;
			}

			.single-title {
				.input-group.input-text-single {
					display: block;

					input[type="text"] {
						margin-left: 5px;
						width: 80px;
					}

					input[type="text"]:first-of-type {
						margin-left: 0;
						width: 265px;
					}

					button {
						margin-left: 5px;
					}
				}
			}

			.input-dir,
			.input-file {
				.input-group-btn {
					display: inline-block;
					width: 80px;

					.button-choose {
						width: 80px;
					}
				}
			}

			.multi-from-dir,
			.multi-from-file {
				.input-text {
					display: none;
				}
			}

			.collapse.input-text,
			.collapse.input-text-single {
				display: block;
				width: 100%;
			}

			.input-group.input-dir,
			.input-group.input-file {
				display: block;
				width: 100%;

				.record-name,
				.record-name-dir {
					width: 85%;
				}

				.input-group-btn {
					float: left;
				}

				.input-dir-textfield {
					width: 60%;
				}

				.input-file-textfield {
					width: 50%;
				}
			}

			.input-group.input-dir {
				input[type="file"].hidden-input {
					position: absolute;
					width: 0;
					height: 0;
					visibility: hidden;
				}
			}

			.collapse {
				display: none;
			}

			.collapse.multi-from-dir {
				display: block;
			}
		}

		#duplicates {
			overflow-y: scroll;
			height: 260px;

			p {
				margin: 0 auto 5px;
			}
		}
	}

	.modal-dialog {
		width: calc(60vw - 400px);
	}

	.modal-body {
		overflow-y: auto;
		max-height: calc(100vh - 200px);

		.input-group {
			display: flex;
			margin-bottom: 2px;
			width: 65%;

			.input-group-btn {
				display: inline-flex;

				.btn-primary {
					margin-right: 5px;
				}
			}
		}
	}
}

.config {
	#db-setting,
	#tbl-setting {
		hr {
			margin-top: 0;
			margin-bottom: 20px;
			border-top: 1px solid #000;
		}

		h2 {
			margin-bottom: 5px;
		}

		.btn-wrapper {
			display: inline-block;
		}

		#btn-test-db {
			margin-right: 10px;
		}

		.btn-active {
			background-color: green;
			color: white;
		}
	}

	#active-tbl {
		.btn-group > .btn {
			margin-right: 20px;
			border-radius: 4px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

#utilities-controller {
	.phpinfo-inner {
		overflow-y: scroll;
		height: 80vh;
	}
}
