body {
  font-family: "Merriweather Sans"sans-serif;
  background-color: #000;
  padding-top: 0;
  padding-bottom: 0;
}

body .navbar {
  min-height: unset;
  max-height: 30px;
  margin-bottom: 10px;
}

body .navbar .navbar-brand {
  padding: 10px 10px;
  font-size: 14px;
  line-height: 1.25%;
  height: initial;
}

body .navbar .navbar-nav {
  padding-right: 2rem;
}

body .footer {
  background-color: #212121;
  height: 45px;
}

body .container {
  max-width: 1920px;
}

@media (min-width: 768px) {
  body .container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  body .container {
    width: 1440px;
  }
}

body .container .jumbotron,
body .container-fluid .jumbotron {
  font-size: 14px;
  font-weight: normal;
  background-color: #424242;
  color: #ebebeb;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 1;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  body .container .jumbotron,
  body .container-fluid .jumbotron {
    padding-left: 10px;
    padding-right: 10px;
  }
}

body textarea.form-control {
  height: 450px;
}

body ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000;
}

body ::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
  opacity: 1;
}

body :-ms-input-placeholder {
  /* IE 10+ */
  color: #000;
}

body :-moz-placeholder {
  /* Firefox 18- */
  color: #000;
}

body .btn svg {
  margin-right: 5px;
}

body #existing-movie,
body #existing-movie-label {
  display: none;
}

body .movies .container {
  padding-left: 5px;
  padding-right: 5px;
}

body .movies .movies-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 15px;
}

body .movies .movies-container .row {
  width: 100%;
}

body .movies .movies-container .col-xs-12:first-of-type,
body .movies .movies-container col-lg-10:first-of-type {
  padding-right: 0;
  margin-top: -15px;
}

body .movies .movies-container .col-xs-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .movies .ui-grid-header-canvas .ui-grid-header-cell-primary-focus {
  padding-left: 6px;
}

body .movies .myMoviesGrid {
  color: #000;
  height: 520px;
}

body .movies .ui-grid-viewport {
  overflow-x: hidden !important;
  width: 100% !important;
  height: 55vh;
}

body .movies #totals,
body .movies .ui-grid-header-cell-row,
body .movies .ui-grid-top-panel {
  background-color: #212121;
  color: #ebebeb;
}

body .movies #totals input[type="text"],
body .movies .ui-grid-header-cell-row input[type="text"],
body .movies .ui-grid-top-panel input[type="text"] {
  height: 26px;
}

body .movies #totals .ui-grid-filter-container,
body .movies .ui-grid-header-cell-row .ui-grid-filter-container,
body .movies .ui-grid-top-panel .ui-grid-filter-container {
  padding: 4px;
}

body .movies .ui-grid-canvas .ui-grid-cell,
body .movies .ui-grid-canvas .ui-grid-cell .ui-grid-vertical-bar,
body .movies .ui-grid-canvas .ui-grid-row {
  color: #ebebeb;
  height: 30px;
}

body .movies .ui-grid-canvas .ui-grid-row {
  background-color: #555;
  border-top: 1px solid #252525;
}

body .movies .ui-grid-canvas .ui-grid-row:nth-child(2n) .ui-grid-cell {
  background-color: #444;
}

body .movies .ui-grid-canvas .ui-grid-row:nth-child(2n) .ui-grid-cell:hover {
  background-color: #333333;
}

body .movies .ui-grid-canvas .ui-grid-row:nth-child(odd) .ui-grid-cell {
  background-color: transparent;
}

body .movies .ui-grid-canvas .ui-grid-row:nth-child(odd) .ui-grid-cell:hover {
  background-color: #333333;
}

body .movies .ui-grid-canvas .ui-grid-row .ui-grid-cell-contents {
  padding-top: 6px;
  padding-bottom: 2px;
  height: 30px;
}

body .movies .ui-grid-canvas .ui-grid-row input[type="text"] {
  padding-top: 6px;
  padding-bottom: 2px;
  height: 30px;
}

body .movies .ui-grid-canvas .cell-controls,
body .movies .ui-grid-canvas .cell-date-created,
body .movies .ui-grid-canvas .cell-dimensions,
body .movies .ui-grid-canvas .cell-id,
body .movies .ui-grid-canvas .cell-size,
body .movies .ui-grid-canvas .cell-title {
  padding: 3px 0 4px;
}

body .movies .ui-grid-canvas .ui-grid-coluiGrid-0004,
body .movies .ui-grid-canvas .ui-grid-coluiGrid-0006,
body .movies .ui-grid-canvas .ui-grid-coluiGrid-0007,
body .movies .ui-grid-canvas .ui-grid-coluiGrid-0008,
body .movies .ui-grid-canvas .ui-grid-coluiGrid-0009 {
  text-align: left;
}

body .movies .ui-grid-canvas .ui-grid-coluiGrid-0005 .ui-grid-filter-button {
  width: 10px;
}

body .movies .ui-grid-canvas .cell-controls,
body .movies .ui-grid-canvas .ui-grid-coluiGrid-0010 {
  padding-top: 1px;
  padding-left: 1px;
}

body .movies .ui-grid-canvas .cell-controls .ui-grid-cell-contents,
body .movies .ui-grid-canvas .ui-grid-coluiGrid-0010 .ui-grid-cell-contents {
  padding-top: 1px;
}

body .movies .ui-grid-canvas .cell-controls .btn,
body .movies .ui-grid-canvas .ui-grid-coluiGrid-0010 .btn {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  margin-top: -3px;
}

body .movies .ui-grid-canvas .cell-controls .btn svg,
body .movies .ui-grid-canvas .ui-grid-coluiGrid-0010 .btn svg {
  margin-right: 5px;
}

body .movies .ui-grid-canvas .cell-controls .btn-danger,
body .movies .ui-grid-canvas .ui-grid-coluiGrid-0010 .btn-danger {
  background-color: #c9302c;
  border-color: #ac2925;
}

body .movies .ui-grid-canvas .cell-controls .btn-danger:hover,
body .movies .ui-grid-canvas .ui-grid-coluiGrid-0010 .btn-danger:hover {
  background-color: #9f2623;
}

body .movies .ui-grid-canvas .cell-controls .btn-warning,
body .movies .ui-grid-canvas .ui-grid-coluiGrid-0010 .btn-warning {
  background-color: #ec971f;
  padding-left: 8px;
  padding-right: 8px;
  border-color: #d58512;
}

body .movies .ui-grid-canvas .cell-controls .btn-warning:hover,
body .movies .ui-grid-canvas .ui-grid-coluiGrid-0010 .btn-warning:hover {
  background-color: #c77c11;
}

body .movies .ui-grid-canvas .cell-controls .btn-success,
body .movies .ui-grid-canvas .ui-grid-coluiGrid-0010 .btn-success {
  background-color: darkgreen;
  padding-left: 8px;
  padding-right: 8px;
  border-color: #003100;
}

body .movies .ui-grid-canvas .cell-controls .btn-success:hover,
body .movies .ui-grid-canvas .ui-grid-coluiGrid-0010 .btn-success:hover {
  background-color: #003100;
  border-color: darkgreen;
}

body .movies .ui-grid-canvas .ui-grid-coluiGrid-0010 {
  display: contents;
  min-width: 193px;
}

body .movies .ui-grid-canvas .ui-grid-coluiGrid-0010 input[type='checkbox'] {
  margin: 9px 0 0 3px;
}

body .movies .ui-grid-grid-footer {
  color: #ebebeb !important;
  padding-left: 10px;
  border-top: 1px solid #d4d4d4;
  line-height: 1.25;
  text-align: right;
}

body .movies .ui-grid-grid-footer .ngLabel {
  margin-left: 10px;
}

body .movies .ui-grid-grid-footer #footer-btns {
  display: none;
  position: absolute;
  right: 10px;
}

body .movies .ui-grid-grid-footer #footer-btns .btn {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

body .movies .ui-grid-grid-footer #footer-btns .btn:first-of-type {
  margin-right: 5px;
}

body .movies .col-lg-2.hidden-xs.hidden-sm.hidden-md {
  position: absolute;
  padding-left: 0;
  right: 15px;
}

body .movies .recent-terms {
  border: 1px solid #efefef;
  overflow-y: auto;
  text-align: left;
  width: 100%;
  min-height: 495px;
}

body .movies .recent-terms .recent-terms-hdr {
  font-size: 14px;
  font-weight: bold;
  background-color: #212121;
  padding: 5px 5px 8px;
  border-bottom: 1px solid #ccc;
  height: 58px;
}

body .movies .recent-terms .recent-terms-hdr h4 {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.42857;
  width: 175px;
}

body .movies .recent-terms .recent-terms-hdr .btn {
  position: absolute;
  top: 8px;
  right: 25px;
  /* line-height: 1.42857; */
  float: right;
  /* margin-left: 5px; */
  padding-top: 0;
  padding-bottom: 0;
}

body .movies .recent-terms .recent-terms-hdr .btn-warning {
  background-color: #ec971f;
  border-color: #d58512;
}

body .movies .recent-terms .recent-terms-hdr .btn-warning:hover {
  background-color: #c77c11;
}

body .movies .recent-terms p {
  font-size: 12px;
}

body .movies .recent-terms ul {
  font-size: 14px;
  padding-left: 0;
  margin-top: 58px;
}

body .movies .recent-terms ul li {
  background-color: #676767;
  padding: 4px;
  border-bottom: 1px solid #000;
}

body .movies .recent-terms ul li:hover {
  cursor: pointer;
}

body .movies .total-size-area {
  position: absolute;
  bottom: 5px;
  width: 90%;
  height: 30%;
}

body .movies .total-size-area .total-size-results {
  background-color: tan;
  border: 1px solid #ccc;
  height: 40px;
}

body .movies hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid #000;
}

body #directory-results input[type='text'],
body #mode input[type='text'],
body .movies input[type='text'] {
  background-color: #ebebeb;
  color: #333;
  padding-bottom: 0;
  padding-left: 4px;
  height: 26px;
}

body .container.results-container {
  padding-left: 10px;
}

body #directory-results {
  display: none;
  padding-bottom: 15px;
}

body #directory-results .col-xs-10:first-of-type,
body #directory-results .col-xs-12:first-of-type {
  padding-left: 10px;
}

body #directory-results .col-lg-2 {
  padding-left: 0;
}

body #directory-results .col-lg-2 .btn-success {
  background-color: darkgreen;
  padding: 4px 12px;
  border-color: #003100;
}

body #directory-results .col-lg-2 .btn-success:hover {
  background-color: #003100;
}

body #directory-results #totals {
  position: absolute;
  left: 10px;
  background-color: #212121;
  padding: 7px 10px 7px 6px;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  text-align: left;
  width: 96.4%;
}

body #directory-results #totals span {
  display: inline-block;
  margin-left: 10px;
}

body #directory-results #totals span:first-of-type {
  margin-left: 0;
}

body #directory-results #totals span:nth-of-type(2) {
  margin-left: 15px;
}

body #directory-results #totals span .num-span {
  font-weight: bold;
}

body #directory-results #table-wrap {
  margin-top: 28px;
  overflow-y: scroll;
  max-height: 520px;
}

body #directory-results #table-wrap table {
  /* Make inline editables take the full width of their parents */
}

body #directory-results #table-wrap table a,
body #directory-results #table-wrap table a:hover {
  color: #fff;
  border-bottom: initial;
  text-decoration: none;
}

body #directory-results #table-wrap table .editable-container.editable-inline,
body #directory-results #table-wrap table .editable-container.editable-inline .control-group.form-group,
body #directory-results #table-wrap table .editable-container.editable-inline .control-group.form-group .editable-input,
body #directory-results #table-wrap table .editable-container.editable-inline .control-group.form-group .editable-input input:not([type=radio]):not([type=checkbox]):not([type=submit]),
body #directory-results #table-wrap table .editable-container.editable-inline .control-group.form-group .editable-input select,
body #directory-results #table-wrap table .editable-container.editable-inline .control-group.form-group .editable-input textarea {
  width: 90%;
}

body #directory-results #table-wrap table .editable-click,
body #directory-results #table-wrap table a.editable-click,
body #directory-results #table-wrap table a.editable-click:hover {
  color: #fff;
  border-bottom: initial;
  text-decoration: none;
}

body #directory-results #table-wrap table .input-sm {
  font-size: 14px;
}

body #directory-results #table-wrap table tr {
  padding-top: 4px;
  border-top: 1px solid #252525;
  border-left: 1px solid #ccc;
  height: 30px;
}

body #directory-results #table-wrap table tr:nth-child(odd) {
  background-color: #555;
}

body #directory-results #table-wrap table tr:first-of-type {
  background-color: #212121;
  padding-top: 7px;
  border-top: 1px solid #ccc;
  height: 30px;
}

body #directory-results #table-wrap table tr:first-of-type .dup-not-new,
body #directory-results #table-wrap table tr:first-of-type .new-not-dup {
  border-top: 1px solid #ccc;
}

body #directory-results #table-wrap table tr:last-of-type {
  border-bottom: 1px solid #ccc;
}

body #directory-results #table-wrap table tr:last-of-type .dup-not-new,
body #directory-results #table-wrap table tr:last-of-type .new-not-dup {
  border-bottom: 1px solid #ccc;
}

body #directory-results #table-wrap table tr th {
  cursor: pointer;
}

body #directory-results #table-wrap table tr td,
body #directory-results #table-wrap table tr th {
  padding-left: 6px;
  border-right: 1px solid #ccc;
}

body #directory-results #table-wrap table tr td:first-of-type,
body #directory-results #table-wrap table tr th:first-of-type {
  padding-left: 5px;
  width: 65px;
}

body #directory-results #table-wrap table tr td:nth-of-type(2),
body #directory-results #table-wrap table tr th:nth-of-type(2) {
  padding-left: 6px;
  width: 425px;
}

body #directory-results #table-wrap table tr td:nth-of-type(3),
body #directory-results #table-wrap table tr th:nth-of-type(3) {
  width: 110px;
}

body #directory-results #table-wrap table tr td:nth-of-type(4),
body #directory-results #table-wrap table tr th:nth-of-type(4) {
  width: 80px;
}

body #directory-results #table-wrap table tr td:nth-of-type(5),
body #directory-results #table-wrap table tr th:nth-of-type(5) {
  width: 90px;
}

body #directory-results #table-wrap table tr td:nth-of-type(6),
body #directory-results #table-wrap table tr th:nth-of-type(6) {
  padding-top: 2px;
  width: 90px;
}

body #directory-results #table-wrap table tr td:nth-of-type(7),
body #directory-results #table-wrap table tr th:nth-of-type(7) {
  width: 80px;
}

body #directory-results #table-wrap table tr td:nth-of-type(8),
body #directory-results #table-wrap table tr th:nth-of-type(8) {
  padding-top: 2px;
  width: 180px;
}

body #directory-results #table-wrap table tr td:nth-of-type(8) .btn-success,
body #directory-results #table-wrap table tr td:nth-of-type(8) .btn-warning,
body #directory-results #table-wrap table tr th:nth-of-type(8) .btn-success,
body #directory-results #table-wrap table tr th:nth-of-type(8) .btn-warning {
  padding: 2px 6px;
}

body #directory-results #table-wrap table tr td:nth-of-type(8) .btn-success,
body #directory-results #table-wrap table tr th:nth-of-type(8) .btn-success {
  margin-left: 5px;
}

body #directory-results #table-wrap table tr td .fa-angle-double-up,
body #directory-results #table-wrap table tr th .fa-angle-double-up {
  color: greenyellow;
  margin-left: 5px;
}

body #directory-results #table-wrap table tr td.new-not-dup,
body #directory-results #table-wrap table tr th.new-not-dup {
  font-weight: bold;
  background-color: darkgreen;
  border-top: 1px solid #212121;
  border-bottom: 1px solid #212121;
  text-align: center;
}

body #directory-results #table-wrap table tr td.dup-not-new,
body #directory-results #table-wrap table tr th.dup-not-new {
  font-weight: bold;
  background-color: darkred;
  border-top: 1px solid #212121;
  border-bottom: 1px solid #212121;
}

body #directory-results #table-wrap table tr td button svg,
body #directory-results #table-wrap table tr th button svg {
  margin-right: 5px;
}

body #directory-results #table-wrap table tr td:hover {
  background-color: #333333;
}

body #directory-results #table-wrap table .tduration,
body #directory-results #table-wrap table .tsize {
  display: none;
}

body #directory-results #table-wrap table #results-table-current-title {
  color: #000 !important;
  width: 100%;
}

body #directory-results #table-wrap table .results-table-cell-contents-hidden {
  display: none;
  width: 0;
  height: 0;
  visibility: hidden;
}

body #mode {
  display: block;
  padding-bottom: 15px;
}

body #import-records h3 {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
}

body #import-records .col-lg-6,
body #import-records .col-xs-12.col-lg-8 {
  padding-left: 5px;
}

body #import-records .col-lg-6 ~ .col-lg-6 h3:first-of-type,
body #import-records .col-xs-12.col-lg-8 ~ .col-lg-6 h3:first-of-type {
  margin-top: 20px;
  margin-bottom: 10px;
}

body #import-records .col-lg-4 #loading-spinner {
  display: none;
  margin-top: 40px;
}

body #import-records .form-group.btn-group {
  padding-left: 0;
  margin-bottom: 5px;
}

body #import-records .form-group.btn-group label {
  font-weight: bold;
  background-color: darkgreen;
  padding: 6px 12px;
  border-color: #003100;
  border-radius: 5px;
  line-height: 1;
  text-align: center;
  height: 30px;
  vertical-align: middle;
  white-space: nowrap;
}

body #import-records .form-group.btn-group label:hover {
  background-color: #003100;
  border-color: darkgreen;
}

body #import-records .form-group.btn-group label input[type=radio] {
  display: none;
  margin-top: 2px;
  margin-right: 5px;
  line-height: 1;
}

label body #import-records .form-group.btn-group label input[type=radio]:checked {
  background-color: #003100;
}

body #import-records .btn-warning {
  font-weight: bold;
  background-color: #c77c11;
  color: #fff;
  padding: 6px 12px;
  border-color: #d58512;
  line-height: 1.0;
  height: 30px;
}

body #import-records .btn-warning:hover {
  background-color: #985e0d;
}

body #import-records .form-group ~ .form-group {
  margin-bottom: 0;
}

body #import-records .input-wrap div[class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

body #import-records .input-wrap .record-name {
  width: 80%;
}

body #import-records .input-wrap .duplicate-text {
  width: 70%;
}

body #import-records .input-wrap .single-title h3 {
  display: inline-block;
  width: 14%;
}

body #import-records .input-wrap .single-title h3:first-of-type {
  width: 35%;
}

body #import-records .input-wrap .single-title h3:nth-of-type(3) {
  width: 9%;
}

body #import-records .input-wrap .single-title .input-group.input-text-single {
  display: block;
}

body #import-records .input-wrap .single-title .input-group.input-text-single input[type='text'] {
  border-left: solid 1px #000;
  width: 15%;
  height: 30px;
  padding-right: 4px;
}

body #import-records .input-wrap .single-title .input-group.input-text-single input[type='text']:first-of-type {
  margin-left: 0;
  border-left: none;
  width: 35%;
  padding-right: 12px;
}

body #import-records .input-wrap .single-title .input-group.input-text-single input[type='text']:first-of-type::-webkit-input-placeholder {
  font-style: italic;
  color: #000;
}

body #import-records .input-wrap .single-title .input-group.input-text-single input[type='text']:first-of-type:-ms-input-placeholder {
  font-style: italic;
  color: #000;
}

body #import-records .input-wrap .single-title .input-group.input-text-single input[type='text']:first-of-type::-ms-input-placeholder {
  font-style: italic;
  color: #000;
}

body #import-records .input-wrap .single-title .input-group.input-text-single input[type='text']:first-of-type::placeholder {
  font-style: italic;
  color: #000;
}

body #import-records .input-wrap .single-title .input-group.input-text-single input[type='text']:nth-of-type(3) {
  border-left: solid 1px #000;
  width: 10%;
}

body #import-records .input-wrap .single-title .input-group.input-text-single input[type='text']:nth-of-type(4) {
  border-left: solid 1px #000;
  width: 15%;
}

body #import-records .input-wrap .input-dir .input-group-btn,
body #import-records .input-wrap .input-file .input-group-btn {
  display: inline-block;
}

body #import-records .input-wrap .multi-from-dir .input-text,
body #import-records .input-wrap .multi-from-file .input-text {
  display: none;
}

body #import-records .input-wrap .collapse.input-text,
body #import-records .input-wrap .collapse.input-text-single {
  display: block;
  width: 100%;
}

body #import-records .input-wrap .input-group.input-dir,
body #import-records .input-wrap .input-group.input-file {
  display: block;
  width: 100%;
}

body #import-records .input-wrap .input-group.input-dir .record-name,
body #import-records .input-wrap .input-group.input-dir .record-name-dir,
body #import-records .input-wrap .input-group.input-file .record-name,
body #import-records .input-wrap .input-group.input-file .record-name-dir {
  width: 85%;
}

body #import-records .input-wrap .input-group.input-dir .input-group-btn,
body #import-records .input-wrap .input-group.input-file .input-group-btn {
  float: left;
}

body #import-records .input-wrap .input-group.input-dir .input-dir-textfield,
body #import-records .input-wrap .input-group.input-file .input-dir-textfield {
  width: 86%;
  height: 30px;
}

body #import-records .input-wrap .collapse {
  display: none;
}

body #import-records .input-wrap .collapse.multi-from-dir {
  display: block;
}

body #import-records #duplicates {
  overflow-y: scroll;
  height: 260px;
}

body #import-records #duplicates p {
  margin: 0 auto 5px;
}

.config #db-setting hr,
.config #tbl-setting hr {
  margin-top: 0;
  margin-bottom: 20px;
  border-top: 1px solid #000;
}

.config #db-setting h2,
.config #tbl-setting h2 {
  margin-bottom: 5px;
}

.config #db-setting .btn-wrapper,
.config #tbl-setting .btn-wrapper {
  display: inline-block;
}

.config #db-setting #btn-test-db,
.config #tbl-setting #btn-test-db {
  margin-right: 10px;
}

.config #db-setting .btn-active,
.config #tbl-setting .btn-active {
  background-color: green;
  color: white;
}

.config #active-tbl .btn-group > .btn {
  margin-right: 20px;
  border-radius: 4px;
}

.config #active-tbl .btn-group > .btn:last-child {
  margin-right: 0;
}

#utilities-controller .phpinfo-inner {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  overflow-y: scroll;
  height: 80vh;
}

#process-files h4 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#process-files #loading-spinner {
  display: none;
  margin-left: 55px;
}

.db-ops-btn-wrapper {
  opacity: 0;
  display: inline-block;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.db-ops-btn-wrapper.fade-in {
  opacity: 1;
}

.db-ops-btn-wrapper .btn-primary,
.db-ops-btn-wrapper .btn-success {
  margin-top: 25px;
}

.db-ops-btn-wrapper .btn-success {
  background-color: darkgreen;
  font-weight: bold;
  padding: 6px 12px;
  border-color: #003100;
  border-radius: 5px;
  line-height: 1;
  text-align: center;
  height: 30px;
  vertical-align: middle;
  white-space: nowrap;
}

.db-ops-btn-wrapper .btn-success:hover {
  background-color: #003100;
  border-color: darkgreen;
}

@media screen and (min-width: 768px) {
  .modal-dialog {
    left: auto;
    width: 70vw;
  }
}

.modal-dialog .modal-content {
  background-color: antiquewhite;
}

.modal-dialog .modal-content .modal-body {
  overflow: scroll;
}

.modal-dialog #file-results {
  /* Make inline editables take the full width of their parents */
}

.modal-dialog #file-results table {
  width: 100%;
}

.modal-dialog #file-results table tr {
  height: 34px;
}

.modal-dialog #file-results table tr:nth-child(odd) {
  background-color: #888888;
  color: white;
}

.modal-dialog #file-results table tr:nth-child(even) {
  background-color: #555;
  color: white;
}

.modal-dialog #file-results table tr.tbl-hdr {
  background-color: #555;
  color: white;
}

.modal-dialog #file-results table tr.file-renamed {
  background-color: forestgreen;
}

.modal-dialog #file-results table tr.file-not-renamed {
  border: 1px solid red;
}

.modal-dialog #file-results table tr th {
  padding: 7px;
  text-align: left;
}

.modal-dialog #file-results table tr th:nth-of-type(1) {
  display: none;
}

.modal-dialog #file-results table tr th:nth-of-type(2), .modal-dialog #file-results table tr th:nth-of-type(3) {
  width: 37.5%;
}

.modal-dialog #file-results table tr th:nth-of-type(4) {
  width: 75px;
}

.modal-dialog #file-results table tr th:nth-of-type(5) {
  width: 100px;
}

.modal-dialog #file-results table tr th:nth-of-type(6) {
  width: 100px;
}

.modal-dialog #file-results table tr th:nth-of-type(3), .modal-dialog #file-results table tr th:nth-of-type(4), .modal-dialog #file-results table tr th:nth-of-type(5), .modal-dialog #file-results table tr th:nth-of-type(6), .modal-dialog #file-results table tr th:nth-of-type(7) {
  border-left: 1px solid white;
}

.modal-dialog #file-results table tr td {
  padding: 7px;
  text-align: left;
  white-space: nowrap;
}

.modal-dialog #file-results table tr td .editable-click,
.modal-dialog #file-results table tr td a,
.modal-dialog #file-results table tr td a.editable-click,
.modal-dialog #file-results table tr td a.editable-click:hover,
.modal-dialog #file-results table tr td a:focus,
.modal-dialog #file-results table tr td a:hover {
  color: #fff;
  border-bottom: none;
  text-decoration: none;
}

.modal-dialog #file-results table tr td:nth-of-type(1) {
  display: none;
}

.modal-dialog #file-results table tr td:nth-of-type(3), .modal-dialog #file-results table tr td:nth-of-type(4), .modal-dialog #file-results table tr td:nth-of-type(5), .modal-dialog #file-results table tr td:nth-of-type(6) {
  border-left: 1px solid white;
}

.modal-dialog #file-results table tr td:nth-of-type(2), .modal-dialog #file-results table tr td:nth-of-type(3) {
  width: 37.5%;
}

.modal-dialog #file-results table tr td:nth-of-type(3) {
  padding-left: 0;
}

.modal-dialog #file-results table tr td:nth-of-type(3) a {
  padding-left: 7px;
}

.modal-dialog #file-results table tr td:nth-of-type(3).file-has-conflicts a {
  padding: 7px 7px 7px 5px;
  border: 2px solid darkred;
}

.modal-dialog #file-results table tr td:nth-of-type(4) {
  width: 105px;
}

.modal-dialog #file-results table tr td:nth-of-type(7) {
  padding: 4px 5px;
  border-left: 1px solid white;
  text-align: center;
}

.modal-dialog #file-results table tr td:nth-of-type(7) .btn {
  padding: 1px 12px;
}

.modal-dialog #file-results table tr td:nth-of-type(8) {
  padding-left: 5px;
  padding-right: 5px;
  border-right: 1px solid white;
  text-align: center;
}

.modal-dialog #file-results .editable-container.editable-inline,
.modal-dialog #file-results .editable-container.editable-inline .control-group.form-group,
.modal-dialog #file-results .editable-container.editable-inline .control-group.form-group .editable-input,
.modal-dialog #file-results .editable-container.editable-inline .control-group.form-group .editable-input input:not([type=radio]):not([type=checkbox]):not([type=submit]),
.modal-dialog #file-results .editable-container.editable-inline .control-group.form-group .editable-input select,
.modal-dialog #file-results .editable-container.editable-inline .control-group.form-group .editable-input textarea {
  width: 95% !important;
}

.modal-dialog #file-results .editable-click,
.modal-dialog #file-results a.editable-click,
.modal-dialog #file-results a.editable-click:hover {
  color: #fff;
  border-bottom: initial;
  text-decoration: none;
}

.modal-dialog #file-results #currentTitle {
  color: #000 !important;
  width: 100%;
}

#utilities h1 {
  margin-top: 5px;
}

#utilities .nav-tabs {
  margin-top: 20px;
  margin-bottom: 20px;
}

#utilities .nav-tabs .nav-item:first-of-type .nav-link {
  border-top-left-radius: 0.5rem;
}

#utilities .nav-tabs .nav-item:nth-of-type(2) .nav-link {
  border-top-right-radius: 0.5rem;
}

#utilities .nav-tabs .nav-link {
  color: #fff;
}

#utilities .nav-tabs .nav-link.active {
  color: #495057;
}

#utilities .nav-tabs .nav-link:hover {
  color: #000 !important;
}

#utilities table#utils-paths {
  color: white;
  margin-top: 20px;
  border: 1px solid gray;
  width: 85%;
}

#utilities table#utils-paths thead tr {
  background-color: #212121;
}

#utilities table#utils-paths tbody {
  border-top: none;
}

#utilities table#utils-paths tbody tr:first-of-type {
  border-top: none;
}

#utilities table#utils-paths td,
#utilities table#utils-paths th {
  padding: 6px;
  border-right: solid 1px darkgray;
}

#utilities table#utils-paths td:first-of-type,
#utilities table#utils-paths th:first-of-type {
  width: 90%;
}

#utilities table#utils-paths td:nth-of-type(2),
#utilities table#utils-paths td:nth-of-type(3) {
  text-align: center;
}

#utilities .btn {
  font-size: 16px;
  padding: 5px 30px;
}

#utilities #loading-spinner {
  display: none;
  margin-right: 170px;
  float: right;
}

#utilities .container.results-container {
  padding-top: 30px;
  padding-left: 10px;
}

#utilities .container.results-container #directory-results #totals {
  position: absolute;
  left: 10px;
  background-color: #212121;
  padding: 7px 10px 7px 6px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  text-align: left;
  width: 950px;
}

#utilities #find-duplicates {
  display: none;
}

#utilities table#duplicates-list {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid gray;
  width: 85%;
}

#utilities table#duplicates-list thead tr {
  background-color: #212121;
}

#utilities table#duplicates-list tbody {
  border-top: none;
}

#utilities table#duplicates-list tbody tr:first-of-type {
  border-top: none;
}

#utilities table#duplicates-list td,
#utilities table#duplicates-list th {
  padding: 6px;
  border-right: solid 1px darkgray;
}

#utilities table#duplicates-list td:first-of-type,
#utilities table#duplicates-list th:first-of-type {
  width: 10%;
}

#utilities table#duplicates-list td:nth-of-type(2),
#utilities table#duplicates-list th:nth-of-type(2) {
  width: 50%;
}
/*# sourceMappingURL=moviedb.css.map */