<div class="ui-grid-cell-contents">
    <button class="btn btn-danger" ng-click="grid.appScope.deleteButtonClickHandler.onClick(row.entity.id)">
        <i class="fa fa-trash"></i>Del
    </button>
    <button class="btn btn-warning btn-paste-results" ng-click="grid.appScope.pasteResultsButtonClickHandler.onClick(row.entity.id)">
        <i class="fas fa-paste"></i>Paste
    </button>

    <input type="checkbox" class="row-select-checkbox" ng-click="grid.appScope.rowCheckboxHandler.onClick(row.entity.id, row.entity.filesize)"></input>
</div>