<div class="jumbotron">
    <div class="config">
        <script type="text/javascript" src="js/config-functions.js"></script>
        <div class="container">
            <div class="row">
                <div class="col-xs-10">
                    <div ng-controller="ConfigCtrl" data-ng-init="initConfig()" id="config-controller">

                        <div id="db-setting">
                            <h2>
                                Database
                            </h2>
                            <hr/>
                            <p>
                                <button type="button" class="btn btn-default btn-lg" id="btn-test-db">movieLibraryTEST</button>
                                <button type="button" class="btn btn-default btn-lg" id="btn-prod-db">movieLibrary</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>