<div class="jumbotron">
    <div class="config">
        <script type="text/javascript" src="js/config-functions.js"></script>
        <div class="container">
            <div ng-controller="ConfigCtrl" data-ng-init="initConfig()" id="config-controller">
                <div class="row">
                    <div class="col-xs-10">
                        <!-- <div ng-controller="ConfigCtrl" data-ng-init="initConfig()" id="config-controller"> -->

                        <div id="db-setting">
                            <h2>
                                Database
                            </h2>
                            <hr/>
                            <div class="btn-wrapper">
                                <button type="button" class="btn btn-default btn-lg" id="btn-test-db">movieLibraryTEST</button>
                            </div>
                            <div class="btn-wrapper">
                                <button type="button" class="btn btn-default btn-lg" id="btn-prod-db">movieLibrary</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10">
                        <div id="tbl-setting">
                            <h2>
                                Table
                            </h2>
                            <hr/>

                            <div class="btn-wrapper">
                                <button type="button" class="btn btn-default btn-lg" id="btn-het">
                                    Hetero
                                </button>
                            </div>
                            <div class="btn-wrapper">
                                <button type="button" class="btn btn-default btn-lg" id="btn-bi">
                                    Bi
                                </button>
                            </div>
                            <div class="btn-wrapper">
                                <button type="button" class="btn btn-default btn-lg" id="btn-gay">
                                    Gay
                                </button>
                            </div>
                            <div class="btn-wrapper">
                                <button type="button" class="btn btn-default btn-lg" id="btn-misc">
                                    Misc
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>