<div class="jumbotron">
    <div class="movies">
        <!-- <script type="text/javascript" src="js/import-records-input.js"></script> -->
        <script type="text/javascript" src="js/main.js"></script>
        <div class="container movies-container">
            <div class="row">
                <div class="col-xs-12 col-lg-10">
                    <div ng-controller="MoviesCtrl" data-ng-init="init()" id="movie-controller">
                        <p class="movies-hdr">{{moviesHdr}}</p>
                        <div ui-grid="gridOptions" ui-grid-cellnav="ui-grid-cellNav" ui-grid-edit="ui-grid-edit" ui-grid-resize-columns="ui-grid-resize-columns" ui-grid-pinning="ui-grid-pinning" ui-grid-selection="ui-grid-selection" ui-grid-move-columns="ui-grid-move-columns"
                            external-scopes="clickHandlerDeleteButton" class="myMoviesGrid"></div>
                    </div>
                </div>
                <div class="col-lg-2 hidden-xs hidden-sm hidden-md">
                    <div class="recent-terms">
                        <div class="recent-terms-hdr">
                            <h4>
                                Recent search
                            </h4>
                            <button class="btn btn-warning" type="button">
                                Clear
                            </button>
                        </div>
                        <ul></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container results-container">
        <div class="row" id="directory-results">
            <div class="col-xs-12 col-lg-10">
                <div id="totals"></div>
                <div id="table-wrap">
                    <table>
                        <tr>
                            <th>Title</th>
                            <th>Scale</th>
                            <th id="size">Size</th>
                            <th>Time</th>
                            <th>Added</th>
                            <th>New?</th>
                            <th></th>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-2 hidden-xs hidden-sm hidden-md"></div>
        </div>
    </div>
    <div class="container controls-container">
        <div id="import-records">
            <div class="row" id="mode">
                <div class="col-xs-12">
                    <div ng-controller="ModeCtrl" id="mode-controller">
                        <div class="row">
                            <div class="col-xs-11 col-lg-8">
                                <form method="POST" action="#" enctype="multipart/form-data">
                                    <div class="form-group btn-group">
                                        <h3>Mode</h3>

                                        <div class="btn-wrap">
                                            <label class="btn btn-success">
                                                <input type="radio" class="multi-from-dir" name="when"
                                                    value="multi-from-dir" checked="checked">
                                                <strong><i class="fas fa-cogs"></i>Process directory</strong>
                                            </label>
                                            <label class="btn btn-success">
                                                <input type="radio" class="single-title" name="when"
                                                    value="single-title">
                                                <strong><i class="fas fa-level-up-alt"></i>Add single title</strong>
                                            </label>

                                        </div>

                                        <!-- <a href="" class="btn btn-default" ng-click="launchComplexModal()">Show Complex</a> -->
                                    </div>

                                    <div class="db-ops-btn-wrapper">
                                        <button class="btn btn-success btn-process-dir-database-ops" type="button"><i
                                                class="fas fa-database"></i>Perform Database Operations</button>
                                    </div>

                                    <div class="form-group input-wrap">
                                        <div class="col-xs-12">
                                            <div class="col-xs-8">
                                                <div class="collapse multi-from-dir">
                                                    <h3>Directory to process</h3>
                                                    <div class="input-group input-dir">
                                                        <input type="text" class="form-control input-dir-textfield" id="input-directory" />
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-warning btn-start-processing-dir"
                                                                type="button"><i
                                                                    class="fas fa-cogs"></i>Process</button>
                                                            <!-- <button class="btn btn-warning btn-start-processing-dir" type="button" data-toggle="modal" data-target="#normalizeModal"><i class="fas fa-cogs"></i>Process</button> -->
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="col-xs-4">
                                                <div class="db-ops-btn-wrapper">
                                                    <button class="btn btn-success btn-process-dir-database-ops" type="button">Perform Database Operations</button>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>


                                    <div class="form-group input-wrap">
                                        <div class="col-xs-12">
                                            <div class="collapse single-title">
                                                <h3>Title</h3>
                                                <h3>Dimensions</h3>
                                                <h3>Size</h3>
                                                <h3>Duration</h3>
                                                <div class="input-group input-text-single">
                                                    <input type="text" class="form-control single-title" ng-model="formData.title" id="single-title-input" placeholder="Ex: Yank My Doodle, It's a Dandy!">
                                                    <input type="text" class="form-control single-title" ng-model="formData.dimensions" id="single-title-input-dimensions">
                                                    <input type="text" class="form-control single-title" ng-model="formData.size" id="single-title-input-size">
                                                    <input type="text" class="form-control single-title" ng-model="formData.duration" id="single-title-input-duration">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-warning btn-add-single-title"
                                                            type="button"><i class="fas fa-level-up-alt"></i>Add
                                                            Title</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-xs-1 col-lg-2 hidden-xs">
                                <!-- <img id="loading-spinner" src="img/ajax-loader.gif" alt="Loading spinner" /> -->
                                <!-- <div id="progressbar" style="border:1px solid #ccc; border-radius: 5px; "></div> -->
                                <div id="progressbar"></div>

                                <!-- Progress information -->
                                <br>
                                <div id="information"></div>

                                <iframe id="loadarea" style="display:none;"></iframe><br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>
</div>
</div>
<div id="normalizeModal" class="modal " tabindex="-1" role="dialog" aria-labelledby="normalizeModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="normalizeModalTitle"></h4>
            </div>
            <div class="modal-body">
                <div id="file-results">
                    <table id="file-data">
                        <tbody>
                            <tr class="tbl-hdr">
                                <th>Path</th>
                                <th>Original Filename</th>
                                <th>New Filename</th>
                                <th></th>
                                <!-- <th id="size">Size</th>
                                <th id="dimensions">Dimensions</th>
                                <th id="duration">Duration</th> -->
                            </tr>
                        </tbody>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="modal-rename-files-btn">Rename Files</button>
                <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">OK</button>
                <button type="button" ng-click="cancel()" class="btn" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="playMovieModal" class="modal ng-scope" tabindex="-1" role="dialog" aria-labelledby="playMovieModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="playMovieModalTitle"></h4>
            </div>
            <div class="modal-body">
                <div id="movieToPlay">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="modal-play-park-btn">Park</button>
                <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">OK</button>
                <button type="button" ng-click="cancel()" class="btn" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->