<!-- <div class="container-fluid"> -->
<div class="jumbotron">
    <div class="normalize">
        <script type="text/javascript" src="js/normalize.js"></script>
        <div class="row">
            <div class="col-xs-6">
                <div id="process-files">
                    <form method="POST" action="#" enctype="multipart/form-data">
                        <div class="multi-from-dir">
                            <h4>Normalize Files in directory</h4><img id="loading-spinner" src="img/ajax-loader.gif" alt="Loading spinner" />
                            <div class="input-group input-dir">
                                <input type="text" class="form-control input-dir-textfield" id="input-directory" />
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-start-processing-dir" type="button">Process directory</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-6">
                <div id="process-patterns">
                    <button class="btn btn-primary btn-process-dir-rename-files" type="button">Rename Files</button>
                    <button class="btn btn-success btn-process-dir-database-ops" type="button">Perform Database Operations</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="file-results">
                    <table id="file-data">
                        <tbody>
                            <tr class="tbl-hdr">
                                <th>Path</th>
                                <th>Original Filename</th>
                                <th>New Filename</th>
                                <th id="size">Size</th>
                                <th id="dimensions">Dimensions</th>
                                <th id="duration">Duration</th>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>

                        <!-- <tr>
              <td></td>
              <td>Total: <span class="total-count"></span></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr> -->

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- </div> -->
