// ----------------------------------------------------------------------------------------------
// NOTE Variables -------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

@import 'variables.scss';

// ----------------------------------------------------------------------------------------------
// NOTE Bootstrap -------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

// NOTE Complete bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

// NOTE Bootstrap configuration
// @import '../../../node_modules/bootstrap/scss/functions';
// @import '../../../node_modules/bootstrap/scss/variables';
// @import '../../../node_modules/bootstrap/scss/mixins';

// // NOTE Merge maps
// $theme-colors: map-merge($theme-colors, $custom-colors);

// @import '../../../node_modules/bootstrap/scss/utilities';

// // NOTE Bootstrap layout & components
// @import '../../../node_modules/bootstrap/scss/root';
// @import '../../../node_modules/bootstrap/scss/reboot';
// @import '../../../node_modules/bootstrap/scss/type';
// // @import '../../../node_modules/bootstrap/scss/images';
// @import '../../../node_modules/bootstrap/scss/containers';
// @import '../../../node_modules/bootstrap/scss/grid';
// @import '../../../node_modules/bootstrap/scss/tables';
// @import '../../../node_modules/bootstrap/scss/forms';
// @import '../../../node_modules/bootstrap/scss/buttons';
// @import '../../../node_modules/bootstrap/scss/transitions';
// @import '../../../node_modules/bootstrap/scss/dropdown';
// // @import '../../../node_modules/bootstrap/scss/button-group';
// @import '../../../node_modules/bootstrap/scss/nav';
// @import '../../../node_modules/bootstrap/scss/navbar';
// @import '../../../node_modules/bootstrap/scss/card';
// // @import '../../../node_modules/bootstrap/scss/accordion';
// // @import '../../../node_modules/bootstrap/scss/breadcrumb';
// // @import '../../../node_modules/bootstrap/scss/pagination';
// @import '../../../node_modules/bootstrap/scss/badge';
// // @import '../../../node_modules/bootstrap/scss/alert';
// // @import '../../../node_modules/bootstrap/scss/progress';
// // @import '../../../node_modules/bootstrap/scss/list-group';
// // @import '../../../node_modules/bootstrap/scss/close';
// @import '../../../node_modules/bootstrap/scss/toasts';
// @import '../../../node_modules/bootstrap/scss/modal';
// @import '../../../node_modules/bootstrap/scss/tooltip';
// @import '../../../node_modules/bootstrap/scss/popover';
// // @import '../../../node_modules/bootstrap/scss/carousel';
// @import '../../../node_modules/bootstrap/scss/spinners';
// // @import '../../../node_modules/bootstrap/scss/offcanvas';

// // NOTE Boostrap helpers
// @import '../../../node_modules/bootstrap/scss/helpers';

// // NOTE Boostrap utilities
// @import '../../../node_modules/bootstrap/scss/utilities/api';

// ----------------------------------------------------------------------------------------------
// NOTE External components ---------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

// $roboto-font-path: "../../../node_modules/roboto-fontface/fonts" !default;
// @import "../../../node_modules/roboto-fontface/css/roboto/sass/roboto-fontface";
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

// ----------------------------------------------------------------------------------------------
// NOTE Project style ---------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

@import 'project.scss';

// ----------------------------------------------------------------------------------------------
// NOTE Overwrite styles ------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

// @import 'modules/_bootstrap.scss';


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
// @import '~ag-grid-community/styles/ag-grid.css';
// @import '~ag-grid-community/styles/ag-theme-alpine.css';

.ag-floating-filter-body {
    width: 100% !important; /* Match the width of the column */
    display: block;
    align-items: center;
    overflow: visible;
    height: unset;
  }
  .ag-floating-filter {
    display: flex;
    align-items: center;
  }
  .ag-floating-filter input {
    width: 100%; /* Make sure the input field stretches fully */
    box-sizing: border-box; /* Ensure padding and borders are included in width */
  }
//   .ag-floating-filter-body input {
//     flex: 1; /* Make the input fill available space */
//     width: 100% !important;
//   }

.total-items-container {
    margin-top: 10px; /* Add spacing above */
    text-align: right; /* Align text to the right */
    font-size: 14px; /* Adjust font size */
    color: #fff; /* Optional: Adjust color */
  }
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
