// ----------------------------------------------------------------------------------------------
// NOTE Variables -------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

@use 'variables' as *;

// ----------------------------------------------------------------------------------------------
// NOTE Bootstrap -------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

@use '../../../node_modules/bootstrap/scss/bootstrap' as *;

// ----------------------------------------------------------------------------------------------
// NOTE External components ---------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------


// ----------------------------------------------------------------------------------------------
// NOTE Project style ---------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

@use 'project' as *;

// ----------------------------------------------------------------------------------------------
// NOTE Overwrite styles ------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.ag-floating-filter-body {
    width: 100% !important; /* Match the width of the column */
    display: block;
    align-items: center;
    overflow: visible;
    height: unset;
  }
  .ag-floating-filter {
    display: flex;
    align-items: center;
  }
  .ag-floating-filter input {
    width: 100%; /* Make sure the input field stretches fully */
    box-sizing: border-box; /* Ensure padding and borders are included in width */
  }
.total-items-container {
    margin-top: 10px; /* Add spacing above */
    text-align: right; /* Align text to the right */
    font-size: 14px; /* Adjust font size */
    color: #fff; /* Optional: Adjust color */
  }
