/* Align styles with the home component */
.ag-theme-alpine {
    height: 100%;
    width: 100%;
  }
  
  .input-group input {
    border-radius: 0.25rem;
  }
  .form-label {
    color: #fff;
  }
  .directory-field {
    button {
        white-space: nowrap;
    }
  }
  .ag-row {
    font-size: 14px; // Adjust font size if needed
    line-height: 1.5; // Ensure adequate spacing
  }
  .total-items-container {
    font-size: 1rem;
    gap: 1rem; /* Space between sections */
    flex-wrap: wrap; /* Ensures it wraps on smaller screens */
  }