# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore

node_modules/
bower_components/
doc
js/vendor/
libraries/
test/
.sass-cache/
etc/
data/
vendor/
css
.DS_Store

css/main.css
css/main.css.map
*.sql
composer.json
composer.json
composer.lock
package-lock.json
package.json
.vscode/settings.json
.vscode/tasks.json
css/main.css
css/main.css.map
css/moviedb.css
css/moviedb.css.map
img/ajax-loader.gif
js/newFile.js
php/log.txt
php/updateSessionWithDimensionAndDurationOLD.php
scss/main.css
scss/main.css.map
scss/moviedb.css
scss/moviedb.css.map
scss/style.css
scss/style.css.map
scss/toaster.css
scss/toaster.css.map
scss/typeahead.css
scss/typeahead.css.map

