<div class="modal-header">
  <h5 class="modal-title">Files to Normalize</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>

<div class="modal-body">
  <ng-container *ngIf="files.length > 0; else noFiles">
    <table class="table table-bordered table-striped normalize-table">
      <colgroup>
        <col class="col-check" />
        <col class="col-working" />
        <col class="col-new" />
      </colgroup>
      <thead>
        <tr>
          <th>
            <input
              type="checkbox"
              [(ngModel)]="allSelected"
              (change)="toggleAllCheckboxes()"
              title="Select/Deselect All to rename"
            />
          </th>
          <th>Working Name</th>
          <th>New Filename</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of files; let i = index">
          <td class="align-middle text-center">
            <input
              type="checkbox"
              [ngModel]="!files[i].exclude"
              (ngModelChange)="files[i].exclude = !$event"
              title="Rename this file"
            />
          </td>

          <!-- LEFT: working base -->
          <td class="working-name-cell">
            <textarea
              class="form-control form-control-sm working-name-input"
              rows="1"
              [(ngModel)]="file.workingBaseName"
              (ngModelChange)="onWorkingNameChange(file)"
              (input)="autoResize($event)"
            ></textarea>
          </td>

          <!-- RIGHT: only shown when it actually differs -->
          <td class="align-middle">
            <ng-container *ngIf="file.needsNormalization">
              {{ file.newFileName }}
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>

  <ng-template #noFiles>
    <p>No files require normalization.</p>
  </ng-template>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-success"
    (click)="renameFiles()"
    [disabled]="files.length === 0"
  >
    Rename Files
  </button>
  <button
    type="button"
    class="btn btn-secondary"
    (click)="activeModal.dismiss('cancel')"
  >
    Close
  </button>
</div>
