<!-- NOTE Navbar -->
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']">
      <!-- <img src="./assets/img/project/logo.svg" [alt]="appName + ' Logo'" class="img-fluid me-2"/> -->
      {{ appName }}
    </a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 w-100">

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">{{ 'HOME' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/update-db']" [routerLinkActive]="['active']">{{ 'Update DB' | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- NOTE Content -->
<ng-content></ng-content>
